nav {

  overflow: auto;
  padding-bottom: 2vw;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: solid thin;
  border: 0;

}

ul {

  list-style: none;
  float: right;

}

h1 {

  display: inline;

}

h4 {

  margin-top: 0;
  margin-bottom; 1vw;
  border-top: solid thin grey;
  padding-top: 4vw;
  padding-bottom: 1vw;

}

h5 {

  text-align: center;
  font-size: 1.2em;
  font-weight: bold;

}

p {

  margin-top: 0;

}

body {

  padding-left: 8vw;
  padding-right: 8vw;
  font-family: 'Didact Gothic', sans-serif;

}

a {

  text-decoration: none;
  color: black;
  transition: color 1s;

}

a:hover {

  color: grey;
  font-weight: bold;
  transition: color .5s;

}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 2vw;
  max-width: 33%;
}
.column {
  position: relative;
  display: flex;
  flex-flow: column wrap;
}
.column-img: {
  margin-top: 0;
  vertical-align: middle;
}
img {
  max-width: 23vw;
}
main {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  min-width: 100%;
  padding-bottom: 2vw;
  padding-top: 4vw;
  border-top: solid thin grey;
  justify-content: space-between;
}

/* main {

  display: block;
  overflow: hidden;
  column-count: 3;
  column-gap: 4vw;
  padding-bottom: 2vw;
  padding-top: 4vw;
  min-width: 100%;
  border-top: solid thin grey;

} */

  /* .article-page {

  display: block;
  overflow: hidden;
  column-count: 2;
  column-gap: 4vw;
  padding-bottom: 5%;
  min-width: 100%;

} */

.about {

  display: block;
  column-count: 1;

}

article, figure {

  display: inline;
  min-width: 27em;
  padding-bottom: 1em;
  padding: 0;
  border: 0;
  margin: 0;

}

/* img, a img {

  display: block;
  width: 100%;
  margin: 0 auto 2vw auto;

} */

a img {

  margin: 0 auto 4vw auto;
  transition: opacity 0.5s;

}

a img:hover {

  opacity: .5;

}

footer {

  border-top: solid thin;
  border-color: grey;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: small;

}

@media only screen and (max-width: 800px) {

<main>
      <div class="row">
        <div class="column">
          <a href="eternityanyways.html"><img src="eternityanyways1.jpg" alt="Eternity Anyways"></a>
          <a href="Selvedge78.html"><img src="Selvedge/sv78/sv78.jpg" alt="Selvedge 78"></a>
          <a href="fatm.html"><img src="FATM.jpg" alt="Foaming At The Mouth"></a>
          <a href="selvedge82.html"><img src="Selvedge/sv82/sv82.jpg" alt="Selvedge 82"></a>
          <a href="selvedge76.html"><img src="Selvedge/sv76/sv76.jpg" alt="Selvedge 76"></a>
          <a href="selvedge75.html"><img src="Selvedge/sv75/sv75.jpg" alt="Selvedge 75"></a>
          <a href="selvedge81.html"><img src="Selvedge/sv81/sv81.jpg" alt="Selvedge 81"></a>
          <a href="bandits.html"><img src="BanditsInRuins.jpg" alt="Bandits In The Ruins"></a>
          <a href="selvedge84.html"><img src="Selvedge/sv84/sv84.jpg" alt="Selvedge 84"></a>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <a href="honeyimhome.html"><img src="HoneyImHome/honeyimhome2.jpg" alt="Honey I'm Home"></a>
          <a href="ffindingdivismorecrescent.html"><img src="Belfast.jpg" alt="Belfast"></a>
          <a href="worksuite.html"><img src="ainemcbride.jpg" alt="Aine McBride"></a>
          <a href="selvedge83.html"><img src="Selvedge/sv83/sv83.jpg" alt="Selvedge 83"></a>
          <a href="selvedge79.html"><img src="Selvedge/sv79/sv79.jpg" alt="Selvedge 79"></a>
          <a href="finbarrnolan.html"><img src="FinbarrNolan.jpg" alt="Finbarr Nolan"></a>
          <a href="dennismcnulty.html"><img src="DennisMcNulty.jpg" alt="Dennis McNulty"></a>
          <a href="selvedge77.html"><img src="Selvedge/sv77/sv77.jpg" alt="Selvedge 77"></a>
          <a href="premonition.html"><img src="Premonition.jpg" alt="A Premonition Of The Act"></a>
          <a href="selvedge80.html"><img src="Selvedge/sv80/sv80.jpg" alt="Selvedge 80"></a>
        </div>
      </div>
</main>

body {

    padding: 4em;

  }
}

@media only screen and (max-width: 600px) {

  main, .article-page {

    column-count: 1;

  }

  body {

    padding: 1em;

  }
}
